# Python virtual environments
.venv/
venv/

# Python evn environments
.env

# vscode config
.vscode

# Byte-compiled / cache
__pycache__/
*.py[cod]

# mock data
data/dados_mock.json

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db

# imagem docker salvas
*.tar